<h1>Big Boi Burgers</h1>

<h2>Burgers on Your Plate Still</h2>

<ul>
  {{#each burgers}}
    {{#unless notDevoured}}
      {{> burgers/burger-block notDevoured=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Already Eaten</h2>

<ul>
  {{#each burgers}}
    {{#if notDevoured}}
      {{> burgers/burger-block notDevoured=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
    <label for="notDevoured">Eaten?</label><br>
  </div>

  <button type="submit">Add Burger</button>
</form>
